@import '../components/login-form/login-form';
@import '../components/object-viewer/object-viewer';
@import '../login/login';
@import '../main/main';

body{
  background: black !important;
  }
a{
  color: pink !important;
  &:visited{
    color: yellow;
  }
}
