@import 'compass/reset';
@import 'compass/css3';


// cssGlobbingBegin
@import '../components/directive-example/_directive-example.scss';
@import '../components/gallery/_gallery.scss';
@import '../components/login-form/_login-form.scss';
@import '../components/object-viewer/_object-viewer.scss';
@import '../components/show/_show.scss';
@import '../content-item/_content-item.scss';
@import '../content-type/_content-type.scss';
@import '../login/_login.scss';
@import '../main/_main.scss';

// cssGlobbingEnd



body {
  background: black;
  }

a {
  color: light blue;

  &:visited {
    color: yellow;
  }
}
