@import 'compass/reset';
@import 'compass/css3';


// cssGlobbingBegin
// prepared for css-globbing
// cssGlobbingEnd



body {
  background: black;
  }

a {
  color: light blue;

  &:visited {
    color: yellow;
  }
}
