$themeColorA:                          green;
$themeColorB:                          yellow;

$bodyBg:                               $themeColorA;
$bodyColor:                            $themeColorB;
