@import 'components/login-form/login-form';
@import 'components/object-viewer/object-viewer';
@import 'login/login';
@import 'main/main';

body{
  background: blue;
  }
a{
  color: pink;
  &:visited{
    color: yellow;
  }
}
