body {
  background-color: black;
}

.nav--MAIN {
  border-bottom: 1px solid white;
  font-size: .8em;
  padding: .3em;
  overflow: hidden;
  margin-bottom: .4em;


  li {
    float: left;
    padding: 0 1.5em 0 0;
  }

  a {
    text-decoration: none;
  }
}
